body {
  font-family: Avenir, Helvetica;
  font-size: 14px;
}

.svg-container, .play-container {
  margin: 40px;
}

.legend-container {
  position: absolute;
  top: 50px;
  left: 30px;
}

.d3-tip {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  /* width: 400px; */
}

.palette {
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  margin: 4px 0 4px 6px;
  padding: 4px;
  background: #fff;
  border: solid 1px #aaa;
}

.swatch {
  display: block;
  height: 22px;
  text-align: center;
  vertical-align: middle;
  width: 37px;
}

.legend-container text {
  color: #fff;
  font-size: 10px;
}

.album-container {
  height: 100px;
  margin-bottom: 10px;
}

.album-container:last-child {
  margin-bottom: 0;
}

.album-art {
  float: left;
  /* margin-right: 10px; */
}

.album-description {
  display: inline-block;
  width: 270px;
}

.pointer {
  cursor: pointer;
}
