body {
  font-family: Avenir, Helvetica;
  font-size: 14px;
}

.svg-container, .play-container {
  margin: 40px;
}

.svg-container, .state-data-container {
  display: inline-block;
}

.state-data-container {
  border: 1px solid #ccc;
  height: 400px;
  position: absolute;
  top: 50px;
  width: 400px;
}

.state-name {
  font-size: 18px;
  margin: 10px;
  text-decoration: underline;
}

.legend-container {
  position: absolute;
  top: 50px;
  left: 30px;
}

.d3-tip {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.palette {
  display: inline-block;
  vertical-align: bottom;
  margin: 4px 0 4px 6px;
  padding: 4px;
  background: #fff;
  border: solid 1px #ccc;
}

.swatch {
  display: block;
  height: 22px;
  text-align: center;
  vertical-align: middle;
  width: 66px;
}

.legend-container text {
  color: #fff;
  font-size: 10px;
}

.album-container {
  float: left;
  height: 100px;
  margin-right: 10px;
}

.album-container:last-child {
  margin-right: 0;
}

.album-description {
  display: inline-block;
  width: 270px;
}

.pointer {
  cursor: pointer;
}
